#container
{
    text-align: center;
}
#color-container
{
    display: flex;
    flex-direction: row;
}
.color
{
    width: 20%;
    height: 500px;
}
.lock-color
{
    border: none;
    background-color: none;
    color:black;
    font-weight: bold;
    margin: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
    top: 25em;
    margin: 10px;
    margin-left: -16px;

}
.lock-color:hover{
    color:gray;
    border:2px solid gray;
    border-radius: 2px;
}
.lable-color
{
    font-size: large;
    font-weight: bold;
    padding-top:500px;
    position: absolute;
    top: -15em;
}
.SRL
{
    background-color: black;
    border:0px;
    border-radius: 3px;
    color:white;
    padding: 15px;
    width: 150px;
    height: auto;
}

.SRL:hover{
    background-color: gray;
}
#popup{
    width: 100%;
    height: 100%;
    position: fixed;
     display:none;
     z-index: 1;
    background-color: rgba(22,22,22,0.5);
}
#popup:target {
    visibility: visible;
    display: block;
}
#palletNameDiv{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color:blueviolet;
    text-align:center;
    padding:5%;
    margin: 0 auto;
    position:relative; 
    top: 25%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.savedPalet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
}
#popup2{
    width: 100%;
    height: 100%;
    position: fixed;
    display:none;
    z-index: 1;
    background-color: rgba(22,22,22,0.5);
}
#popup:target {
    visibility: visible;
    display: block;
}
#showPalletDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    height:250px;
    background-color:blueviolet;
    text-align:center;
    padding:1%;
    margin: 0 auto;
    position:relative; 
    overflow: auto;
    top: 25%;    
    text-align: center;
}
.savedPalet div{
  padding: 15px;
 }
.select{
width :40px;
background-color: aliceblue;
padding: 5px;
cursor: pointer;
}
.savedPaletColor,.palet{
    display: flex;
    flex-direction: row;
}
.palet{
    justify-content:space-between;
}