#container
{
    text-align: center;
}

#color-container
{
    display: flex;
    flex-direction: row;
}

.color
{
    width: 20%;
    height: 400px;
}

.lock-color
{
    color:black;
    font-weight: bold;
    margin: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
    top: 20em;
    margin: 10px;
    margin-left: -16px;
}
.lock-color:hover{
    color:gray;
}
.lable-color
{
    font-size: large;
    font-weight: bold;
    padding-top:500px;
    position: absolute;
    top: -17em;
    margin-left: -35px;
}

/* save, generat, library and clear buttons  */
#forButtons
{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}
.lableForButton
{
    font-weight: bold;
}
.SRL
{
    background-color: black;
    border:0px;
    border-radius: 6px;
    color:white;
    padding: 0px 5px 15px 5px;
    width: 100px;
    height: 60px;
    margin: 40px;
}

.SRL:hover{
    background-color: gray;
}

/* first popup */
#popup{
    width: 100%;
    height: 100%;
    position: fixed;
    display:none;
    z-index: 1;
    background-color: rgba(22,22,22,0.5);
}

#popup:target {
    visibility: visible;
    display: block;
}
#palletNameDiv{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 150px;
    background-color:lightgray;
    text-align:center;
    padding:2%;
    margin: 0 auto;
    position:relative; 
    top: 25%;
    border:0px;
    border-radius: 8px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.savedPalet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
}
#palletNameDiv button
{
    background-color: gray;
    color: black;
    border-radius: 3px;
    margin:10px ;
    width: 100px;
    height: 50px;
    margin-left: 80px;

}
#palletNameDiv input
{
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    height: 30px;
}

/* second popup */
#popup2{
    width: 100%;
    height: 100%;
    position: fixed;
    display:none;
    z-index: 1;
    background-color: rgba(22,22,22,0.5);
}
#popup:target {
    visibility: visible;
    display: block;
}
#showPalletDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    height:250px;
    background-color:lightgray;
    text-align:center;
    padding:1%;
    margin: 0 auto;
    position:relative; 
    overflow: auto;
    top: 25%;    
    text-align: center;
    border:0px;
    border-radius: 10px;
}
.savedPalet div{
  padding: 15px;
 }
 .savedPalet div label{
    margin-top: 30px;
    font-weight: bold;
    margin-left: 20px;
   }
.select{
width :40px;
background-color: black;
color: white;
padding: 5px;
cursor: pointer;
}
.savedPaletColor,.palet{
    display: flex;
    flex-direction: row;
}
.palet{
    justify-content:space-between;
}

